nav{
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1.5em;
}

nav p{
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 3px 3px #cf3535;
}

nav p:hover{
    background-image: url('./mark.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    color: transparent;
}

.hamburger-menu{
    display: none;
}







@media only screen and (max-width: 600px) {
    .nav-menu{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }
  }
