.article{
    height: 100%;
    width: 100%;
    background-color: rgba(78, 148, 79,0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-text {
    padding: 10rem;
}

.article-text>h1{
    font-size: 2em;
}

.article-text>p{
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    .article-text {
        padding: 2rem;
    }

    .article-text>h1{
        font-size: 1.5em;
    }

    .article-text>p{
        font-size: 1rem;
    }
}