.footer{
    text-align: center;
    padding: 3rem;
}


.footer-menu{
    display: flex;
    justify-content: center;
    gap: 4em;
    margin: 2em;
}

.footer-menu>a{
    text-decoration: none;
    font-size: 1.5rem;
    color: hsl(212, 27%, 19%);
    opacity: 0.6;
}

.footer-menu>a:hover{
    opacity: 1;
    color: green;
    font-weight: bold;
}